* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* Primary colors */
  --preset-primary-pine-tree: #2b2b1b;
  --preset-primary-burnished-brown: #a88176;
  --preset-primary-tumble-weed: #d79b87;
  --preset-primary-dust-storm: #edcfbe;
  --preset-primary-silver-pink: #cdb4b2;

  /* Secondary colors */
  --preset-secondary-floral-white: #faf7ef;
  --preset-secondary-black-olive: #32372c;
  --preset-secondary-carbon-black: #121314;

  /* Font family */
  --preset-font-instrument-serif: "Instrument Serif", serif;
  --preset-font-italianno: "Italianno", cursive;
  --preset-font-montserrat: "Montserrat", sans-serif;
  --preset-font-mea-culpa: "Mea Culpa", cursive;
}

body {
  background: var(--preset-primary-pine-tree);
}

/* -------------------------------------- */
/* ----------Font Display------------- */
.fonts {
  color: var(--preset-primary-dust-storm);
  grid-area: 1 / 1 / 2 / 2;
  z-index: 1;
  padding: 1rem 1rem 5rem 5rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(
    43,
    43,
    27,
    0.5
  ); /* mørk grønnlig bakgrunn med 50% gjennomsiktighet */
}
#Instrumentserif {
  font-family: var(--preset-font-instrument-serif);
  font-size: 40px;
}
#Italianno {
  font-family: var(--preset-font-italianno);
  font-size: 40px;
}
/* ----------------------------------- */
/* ---------------Intro text------------ */
.intro {
  position: relative;
  grid-area: 1 / 2 / 3 / 3;
  overflow: hidden;
  flex-direction: column;
  display: flex;
  flex-direction: column; /* Gjør at tekstene havner under hverandre */
  align-items: center; /* Sentrerer horisontalt */
  justify-content: center; /* Sentrerer vertikalt */
  height: 42rem;
  background-color: rgba(38, 38, 34, 0.8);
  /* ); mørk grønnlig bakgrunn med 50% gjennomsiktighet */
}
#white-flowers {
  position: absolute;
  right: 0;
  height: 100%;
  width: auto;
  border-radius: 0 0 0 50%;
  transform: rotate(-20deg); /* roter 20 grader mot venstre */
  opacity: 0.7;
  z-index: -1;
  pointer-events: none;
}
.introtext {
  z-index: 0;
  text-align: center;
  padding: 13.5rem 5rem 5rem;
  line-height: 2.3rem;
  color: var(--preset-secondary-floral-white);
  font-family: var(--preset-font-montserrat);
  font-weight: 200;
}
/* bokstav med spesialfont */
#Meaculpa {
  font-family: var(--preset-font-mea-culpa);
  font-size: 25px;
  color: var(--preset-secondary-floral-white);
  text-shadow: 0 0 5px #f0c7b8, 0 0 10px #f0c7b8, 0 0 20px #f0c7b8,
    0 0 40px #f0c7b8;
}
